/*
 * Overrides to adapt the generic Cake CSS to a working Officeshots.org style
 */

body {
	padding: 32px;
	background-color: #d0d0d0;
}

#container {
	margin-bottom: 2em;
	background-color: #fff;
	border: 1px solid #fff;
	-moz-box-shadow: #999 0px 0px 24px;
}

/* Header */
#header {
	margin: 10px 20px;
	padding: 0;
	background-position: top right;
	background-repeat: no-repeat;
}

#header h1 {
	margin: 0;
	padding: 0;
	background: none;
}

#header h1 a, #header h1 a:hover {
	display: block;
	width: 600px;
	height: 115px;
	overflow: hidden;
	background: transparent url(/img/officeshots-logo.png) no-repeat scroll top left;
	text-indent: -999px;
}

#lang-select {
	position: absolute;
	top: 42px;
	right: 167px;
	text-align: right;
}

#lang-select img {
	opacity: 0.4;
}

#lang-select img.active {
	opacity: 1.0;
}

/* Navigation */

#top-controllers {
	display: block;
	position: absolute;
	top: 132px;
	right: 122px;
	font-size: 12pt;
	text-align: right;
}

#top-controllers a, #top-controllers a:hover, #bottom-controllers a, #bottom-controllers a:hover {
	color: #17509d;
	background-color: transparent;
	text-decoration: none;
	margin: 0 0.5em;
}

/* Footer */
#footer {
	font-size: 12pt;
	text-align: left;
	margin-bottom: 0.5em;
}

/* Generic right column */
.column-right {
	display: block;
	float: right;
	width: 20em;
	margin-left: 2em;
}

/* Generic polaroid border wrapper */
.polaroid {
	display: block;
	padding: 4px;
	border: 1px solid #bbb;
	-moz-border-radius: 5px;
}

/* Upload request */
#upload {
	margin: 0;
	border: none;
}

#upload legend {
	font-size: 42pt;
	color: #5a96e6;
	font-weight: normal;
}

#upload div { margin: 0; }

#upload ul, #upload li {
	display: inline;
	margin: 0;
}

#upload input[type=radio] {
	float: none;
	margin: 0;
}

#RequestAddForm div.radio label {
	display: inline;
	margin: 0;
}

#RequestAddForm label.disabled {
	color: #999;
}

#RequestFileUpload {
	width: auto;
	display: inline;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#RequestFileSubmit {
	padding: 0px 10px;
	margin-bottom: 0.5em;
}

/* Select applications */
#applications {
	margin: 0 3em;
	padding: 4px;
	border: 1px solid #bbb;
	-moz-border-radius: 5px;
	color: #eee;
}
#applications legend { display: none; }

#applications-container {
	position: relative;
	margin: 0;
	border: 1px solid #aaa;
	background: #333 url(/img/sand.jpg) no-repeat scroll top center;
}

#applications-container #select a {
	color: #eee;
	font-weight: normal;
}

#applications-container div {
	margin: 0;
	padding: 0;
}

#applications h3 {
	padding-top: 0.5em;
	color: #eee;
	outline-color: #444;
	outline-width: 0px;
	text-align: right;
	font-size: 20pt;
	cursor: pointer;
}

#applications th {
	border: none;
	padding-left: 10px;
	background: #ffb839 url(/img/platform-header.png) no-repeat scroll top left;
	color: #111;
}

#applications th span {
	display: block;
	height: 22px;
	padding-top: 2px;
	padding-right: 10px;
	background: #ffb839 url(/img/platform-header.png) no-repeat scroll top right;
}

#applications table { border-spacing: 8px; }
#applications table, #applications tr td {
	border: none;
	color: #eee;
	text-align: left;
}

#applications tr td { font-size: 9pt; }

#applications input { margin: 0 6px 0 0; }

/* Mailinglist registration callout */
#mailinglist {
	border: 1px solid #aaa;
	padding: 1em;
	background: #333 url(/img/sand-swirl.jpg) no-repeat scroll 45% 55%;
	color: #fff;
}

#mailinglist h3 {
	padding-top: 52px;
	background: transparent url(/img/mailinglist.png) no-repeat scroll top right;
	color: #adceff; 
	font-size: large;
}

#mailinglist a {
	color: #adceff; 
}

/* Sponsor icons */
#thanks { text-align: center; }

#thanks img { margin-top: 1em; }

/* Generic overrides */
form { width: 100%; }
ul, ol { margin: 1em 0 0 4em; }
a { color: #17509d; text-decoration: none; }
a:hover { color: #17509d; text-decoration: underline; }
h1, h2, h3, h4 { color: #006bbe; }
